.canvas {
position: relative;
top: 0;
left: 0;
}
.brewery_bg {
position: relative;
background-size: 100% auto;
width:100%;
top: 0;
left: 0;
}
.pump_1 {
position: absolute;
width: 1.5%;
height: auto;
top: 84.1152263%;
left: 20.0%;
transform: translate(-50%, -50%);
}
