body {
background-color: #f0f0f0;
}
.canvas {
position: relative;
width: 95%;
left: 5%;
}
.background {
position: relative;
width:100%;
}
.canvas_item {
position: absolute;
width: 1.5%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
table, th, td {
font-size: 1.2vw;
padding: 0.5vw;
border: 1px solid black;
border-collapse: collapse;
table-layout: fixed;
}

#pump_1 {
top: 84.1152263%;
left: 20.0%;
}
#pump_2 {
top: 73.3333333%;
left: 50.555555600000005%;
}
#pump_3 {
top: 73.3333333%;
left: 81.8055556%;
}
#bk_drain {
top: 51.4403292%;
left: 24.6296296%;
}
#bk_wort {
top: 52.098765400000005%;
left: 19.2592593%;
}
#bk_whirlpool {
top: 42.3868313%;
left: 24.6296296%;
}
#pump_1_cfc {
top: 75.3909465%;
left: 30.8796296%;
}
#pump_1_wort_out {
top: 74.32098769999999%;
left: 27.037037%;
}
#pump_1_drain {
top: 76.46090530000001%;
left: 27.037037%;
}
#cfc_drain {
top: 77.53086420000001%;
left: 32.9166667%;
}
#water_in_cfc {
top: 52.263374500000005%;
left: 34.537037%;
}
#pump_2_pump_1 {
top: 67.2427984%;
left: 46.527777799999996%;
}
#pump_2_rims {
top: 67.2427984%;
left: 55.5555556%;
}
#mlt_recirculation {
top: 16.0493827%;
left: 50.555555600000005%;
}
#water_in_pump_3 {
top: 67.2427984%;
left: 73.3796296%;
}
#pump_3_hlt {
top: 67.2427984%;
left: 72.17592590000001%;
}
#pump_3_rims {
top: 67.2427984%;
left: 73.3796296%;
}
#hlt_drain {
top: 49.3004115%;
left: 78.47222219999999%;
}
#bk_cip {
top: 2.5514403000000003%;
left: 24.6296296%;
}
#mlt_cip {
top: 2.5514403000000003%;
left: 50.555555600000005%;
}
#mlt_sightglass {
top: 27.325102899999997%;
left: 47.0833333%;
}
#mlt_sightglass_cam {
top: 27.325102899999997%;
left: 50.555555600000005%;
}
#mlt_sightglass_size {
top: 33.6625514%;
left: 48.2407407%;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 5%;
  position: absolute;
  user-select: none;
}

.menu_item {
  position: relative;
}

.image {
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.menu_item:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 0.8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
